body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header{
    text-align: center;
    border-bottom: 2px solid rgb(65, 63, 63); 
}
.tete{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.tete a{
  color: dimgray;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}
.bordure{
    border-bottom: 2px solid rgb(65, 63, 63);
    margin-top: 30px; 
}

  
  .tip {
    margin-bottom: 30px;
  }
  
  h1 {
    color: #039531;
    font-size: 48px;
  }
h2{
  color: #716a6a;

}  
  audio, video {
    width:80%;
    margin-top: 10px;
  }
  
  table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 10px;
    margin: 0 auto;

  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  th {
    background-color: #f2f2f2;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }