
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  header{
    text-align: center;
    border-bottom: 2px solid rgb(65, 63, 63); 
}
.tete{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.tete a{
  color: dimgray;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}
.bordure{
    border-bottom: 2px solid rgb(65, 63, 63);
    margin-top: 30px; }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  header p {
    font-size: 16px;
    color: #ccc;
  }
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }